body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 100vw;
    height: 100vh;

    /* For cleaning the viewport to do not appear scroll bars neither horizontally or vertically*/
    display: flex;
    clear: both;
    

    /*For positioning the form*/
    background-image: url("index1.svg");
    background-size: 70%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

    /*For the image in the background*/
    margin: 0;
    padding: 0;
}

.weather {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1.05rem;
    align-items: center;
    color: black;
}

.jokes {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
}

.jokes_paragraph {
    color: white;
}


.jokes_change {
    width: 100%;
    vertical-align: middle;
    background-color: yellow;
    border-radius: 30px;
    height: 50%;
    margin: 10px 0px;
}

