body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 100vw;
    height: 100vh;

    /* For cleaning the viewport to do not appear scroll bars neither horizontally or vertically*/
    display: flex;
    clear: both;
    

    /*For positioning the form*/
    background-image: url("index1.svg");
    background-size: 70%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

    /*For the image in the background*/
    margin: 0;
    padding: 0;
}

.weather {
    height: 80px;
    width: 100px;
    display: flex;
    margin-left: 30px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.weather_font {
    color: black;
    font-weight: bold;
    font-size: 1.05rem;

}

.jokes {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
}

.jokes .jokes_title {
    color: white;
    text-align: center;
}

.jokes .jokes_paragraph {
    color: white;
    width: 50%;
    text-align: center;
}

.buttons .jokes_score .jokes_button {
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-size:cover;

}

.bk-1 {
    background-image: url(bk3.png);
}
.bk-2 {
    background-image: url(bk2.png);
}
.bk-3 {
    background-image: url(bk1.png);
}

.buttons .jokes_change {
    width: 100%;
    vertical-align: middle;
    background-color: yellow;
    border-radius: 30px;
    height: 50%;
    margin: 10px 0px;
}

